Ejemplo Bootstrap--------

.mibox {
    background-color: green;
    color: white;
    text-align: center;
    margin: 10px;
   
}

.mibox2 {
    background-color: red;
    color: white;
    text-align: center;
    margin: 10px;
}

Ejemplo Formulario Bootstrap---------------

