.circulo{
    background-color:gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

div.cuadro{
    background-color: burlywood;
    height: 100px;
    width: 100%;
    margin: 5px;
}

div.aleatory1{
    background-color: greenyellow;
    color: white;
    width: 100px;
    margin: 5px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 25px;
    
}

div.aleatory2{
    background-color: greenyellow;
    color: white;
    width: 100px;
    margin: 5px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 25px;
}
div.aleatory3{
    background-color: greenyellow;
    color: white;
    width: 100px;
    margin: 5px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 25px;
}