body {
  padding: 50px;
  background-color: darkkhaki;
}
  h1 {
  color: blue;
}

h4{

}
.ccpx {
width: 200px;
height: 200px;
}
.left{
  float: left;
  width: 40%;
  background-color: aqua;
}
.bicisize{
  border-radius: 20px;
  width: 300px;
  height: 200px;
  border-style: ridge;
}
.bicicletas1{
  background-color: gray;

}
.bici1{
  vertical-align: top;
  display: inline-block;
  background-color: white;
  width: 320px;
  border-radius: 20px;
  margin-top: 5px;
}

.iconh{
 margin-left: 15px;
  display: inline-block;
}

.iconc{
  float: right;
  padding-right: 15px;  
}


.t11{
  background-color: salmon;
}

.intel{
  position: relative;
  bottom: 5px;}


  div.menu h2, div.pie h2{
    color: azure;
    text-align: center;
    margin: 5px;
  }
  .menu{
    background-color: blue;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left:0;
    
  }

  .pie{
    background-color: red;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 10;
    
  }
  .cuerpo{
   
    border: 1px black solid;
    width: 100%;
    height: 700px;
    
    text-align: center;
    z-index: 0;
    margin-top: 10px;
  }
  .rectangulo{
  
    z-index: 2;
    padding-top: 150px;
    margin-left: 25%;
    margin-top: 10%;
    position: relative;
    background-color: brown;
    text-align: center;
    width: 50%;
    height: 200px;

  }
  div.menu h2, div.pie h2{
    color: azure;
    text-align: center;
    margin: 5px;
  }
  div.circulo1{
    position: absolute;
    z-index: 2;
    background-color: aliceblue;
    border: brown solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -25px;
    left: -25px;
  }
  div.circulo2{
    position: absolute;
    z-index: 2;
    background-color: aliceblue;
    border: brown solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -25px;
    right: -25px;
  }
  div.circulo3{
    position: absolute;
    z-index: 2;
    background-color: aliceblue;
    border: brown solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: -25px;
    left: -25px;
  }
  div.circulo4{
    position: absolute;
    z-index: 2;
    background-color: aliceblue;
    border: brown solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: -25px;
    right: -25px;
  }

div.lorm{
  
  background-color: white;
  padding: 50px;
  width: 300px;
  height: 150px;
  text-align: center;
  
  position: relative;
  top: 500px;
  margin-left: 25%;
  margin-top: 25%;
  border-radius: 25px;

}
div.lorm div.azul{
  background-color: aqua;
position: absolute;
width: 50%;
height: 100%;
top: 0;
left: 50%;
z-index: 2;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
}
div.lorm p{
  position: relative;
  z-index: 5;

}
