
<button id="accion">Llenar</button>
<ul id="lista"></ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<script>
    var semana = ["lunes","martes","miércoles","jueves","viernes"];
$(document).on("click", "#accion", function(){

    for (indice in semana){
        dia = semana[indice];
        $("#lista").append("<li>"+dia+"</li>");
    }

})
</script>